
.flex {
  display: flex;
  justify-content: center;
  color: white;
}

.navbar {
  margin: 15px;
  width: 1000px;
  justify-content: center;

  border-radius: 5px;
  box-shadow: 0 0 50px 15px #48abe0;
}


.navbar-item {
  margin: 5px 25px;
}


.navbar a {
  text-decoration: none;
  justify-content: center;
  color: black;
  font-size: 20px;
}

.navbar-container {
  display: flex;
  padding: 10px 0;

}
