<div class="flex">
  <nav class="navbar">
    <div class="navbar-container border-top border-bottom border-dark">
      <div class="navbar-item">
        <a routerLink="/">
          Home
        </a>
      </div>
      <div ngbDropdown class="dropdown">
        <button ngbDropdownToggle class="btn" type="button"
                aria-expanded="false">
          Product
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <div><a ngbDropdownItem routerLink="/create-product">Add Product</a></div>
          <div><a ngbDropdownItem routerLink="/products">View Products</a></div>
        </div>
      </div>
      <div class="navbar-item">
        <i
          (click)="goCard(1)"
          class="bi bi-cart"></i>
      </div>
    </div>
  </nav>
</div>

