<app-navbar></app-navbar>

<div class="flex-container">
  <form (ngSubmit)="createProduct()">
    <div class="mb-3">
      <label class="form-label">
        Product Name:
        <input
          type="text"
          name="Name"
          class="form-control"
          [(ngModel)]="newProductName"
        />
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Product Detail:</label>
      <input
        type="text"
        name="Detail"
        class="form-control"
        [(ngModel)]="newDetails"
      />

    </div>
    <div class="mb-3">
      <label class="form-label">Category:</label>
      <input
        type="text"
        name="Detail"
        class="form-control"
        [(ngModel)]="newCategory"
      />

    </div>
    <div class="mb-3">
      <label class="form-label">Price:</label>
      <input
        type="number"
        name="Price"
        class="form-control"
        [(ngModel)]="newPrice"
      />

    </div>
    <div class="mb-3">
      <label class="form-label">Discount:</label>
      <input
        type="number"
        name="Discount"
        class="form-control"
        [(ngModel)]="newDiscount"
      />

    </div>

    <button
      type="submit"
      class="btn btn-dark"
    >Save Product
    </button>
    <!--        <div class="mb-3">-->
    <!--            <label class="form-label">Product Image:</label>-->
    <!--            <input-->
    <!--                    alt="product-image"-->
    <!--                    type="file"-->
    <!--                    name="Image"-->
    <!--                    class="form-control"-->
    <!--                    accept="image/*"-->
    <!--            />-->

    <!--        </div>-->

    <!--        <div class="mb-3">-->
    <!--            <label class="form-label">Upload:</label>-->
    <!--            <button-->
    <!--                    class="btn btn-success btn-sm float-right">-->
    <!--            </button>-->
    <!--        </div>-->


  </form>
</div>
