<app-navbar></app-navbar>


<div class="flex-container">
  <form>
    <div
      (click)="getProduct(product.id)"
      class="card"
      *ngFor="let product of products">
      <div
        class="card-content"
      >
        <div
          class="name"
          (click)="getProduct(product.id)"
        >
          {{ product.productName }}
        </div>
        <hr>

        <div
          class="details"
        >
          {{product.details}}
        </div>

        <div
          class="price"

        >${{product.price}}


        </div>

        <div
          class="discount"

        >-{{product.discount}}% !
        </div>

        <button
          (click)="goAndAddCard()"
          class="save-button"
        >Add to Card
        </button>
      </div>
      <i class="trash bi bi-trash" (click)="deleteProduct(product.id)"></i>
    </div>
  </form>
</div>

