.flex-container{
    display: flex;
}

.wrapper {
  background: rgb(5, 68, 104);
  width: 250px;
  height: 100%;
  position: fixed;
}

.sidebar {
  width: 250px;
  left: 0;
  padding-top: 20px;
}

.item {
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;

}

li {
  list-style-type: none
}

.item:hover,
.item:active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.item:hover:before,
.item.active:before {
  display: block;
}

h4 {
  color: white;
  text-align: center;
}


.card {
    float: right;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1000px;
    margin: 55px;
}


.card-content {
    padding: 16px;
    width: 500px;
    height: 500px;
    cursor: pointer;
}


.save-button {
    position: absolute;
    background-color: #fbd814;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 40px;
    width: 150px;
    height: 30px;
    right: 25px;
    bottom: 25px;
}

.save-button:hover {
    background-color: #FCD200;
}

.name{
    line-height: 32px;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.details{
    font-size: 22px;
    width: 450px;
    height: 120px;
    text-align: center;
}
.discount {
    background-color: red; /* Background color */
    color: #fff; /* Text color */
    font-size: 18px; /* Text size */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    position: absolute; /* Position it as needed */
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
}

.price{
    font-size: 25px;
    margin-left: 10px;
    line-height: 100px;
}

.trash{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 20px;
    background: #88afc6 ;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
}


