<app-navbar></app-navbar>
<app-categories></app-categories>
<div class="flex-container">
  <form>
    <div
      class="card"
      *ngFor="let product of products">
      <div
        class="card-content">
        <div
          class="name"
          (click)="getProduct(product.id)">
          {{ product.productName }}
        </div>
        <hr>
        <div
          class="details">
          {{product.details}}
        </div>
        <div
          class="details">
          {{product.category}}
        </div>

        <div
          class="price">
          ${{product.price}}
        </div>

        <div
          class="discount">
          -{{product.discount}}% !
        </div>

        <button
          class="save-button"
        >Add to Card
        </button>
      </div>
      <i class="trash bi bi-trash" (click)="deleteProduct(product.id)"></i>
    </div>
  </form>
</div>

